*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado, .contenido, .foot, .lateral{
   padding: 2em 1em;
}
.encabezado{
    display: flex;
    height: 80px;
    flex-direction: row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    margin-bottom: 25px;
    align-items: center;
  
}
.contenido{
    width: 75%;
}
.caja{
    position: relative;
    height: 100%;
}
.lateral{
    position: absolute;
    top:0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: chocolate;
   
    
}
.arti{
    background-color: deepskyblue;
    height: 100px;
    margin-bottom: 1em;
}
h4{
    background-color: blueviolet;
}
.foot{
    display: flex;
    width: 100%;
    background-color: #00aa4a;;
    color:white;
    justify-content: center;
   
}
@media only screen and (max-width:600px){
    .encabezado{
        background-color: red; /* CELULARES */
    }
} 
@media only screen and (min-width:600px) and (max-width:768px) {
    .encabezado{
        background-color:blue; /* TABLETS */
    }
}
@media only screen and (min-width:768px){
    .encabezado{
        background-color: yellow;
    }
}


